 <div>
 <h3>Name: <%= @recipe.name %></h3>
 <p> Descrioption: <%= @recipe.description %></p>
 <p> Cooking time: <%= @recipe.cooking_time %></p>
  <p> Preparation time: <%= @recipe.preparation_time %></p>
  </div>
