<h1> index for user </h1>

<div class="sign_out_button">
   <button>
     <%= link_to 'Sign out',  destroy_user_session_path, method: :delete %>
   </button>
 </div>
<%= link_to 'Shopping List', shopping_list_inventory_path(@inventory), class: 'shopping_list_button' %>
