<div class="shop-list-container">
  <h1>Generating Shopping List</h1>
  <h2>Choose an inventory to use</h2>
  <div>
    <p> link your inventory page here </p>
    <button> Generate </button>
  </div>
</div>
