/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 5px 0 0 5px;
}

.btn {
  margin-right: 3%;
  color: white;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #fc9400;
  padding: 2%;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}

.recipe_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: 2px solid black;
  background-color: rgba(255, 228, 196, 0.5);
  width: 70%;
}

.recipe_inform {
  padding: 2%;
  font-weight: bolder;
}

.recipes_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}
