* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 5px 0 0 5px;
}

.btn {
  margin-right: 3%;
  color: white;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #fc9400;
  padding: 1%;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}

.recipe_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: 2px solid black;
  background-color: #89eefd;
  width: 70%;
}

.recipe_inform {
  padding: 4%;
  font-weight: bolder;
  display: flex;
  column-gap: 5rem;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: black;
}

.recipes_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}
