.public_show {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

div h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

div p {
  font-size: 1rem;
  margin-bottom: 10px;
}

div .btn {
  margin-top: 20px;
}

.recipe_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50vh;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.recipe_inform {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
}

.public_inform p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

.btn a {
  background-color: #4caf50;
  color: #fff;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.new-recipe-form-container,
.new-inventory-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 50px;
}

.new-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.new-recipe-form-container h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.new-recipe-form label {
  display: block;
  margin-bottom: 5px;
}

.new-recipe-form input[type='text'],
.new-recipe-form input[type='number'],
.new-recipe-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.new-recipe-form input[type='submit'] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions input[type='submit'] {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.new-recipe-form input[type='submit']:hover {
  background-color: #3e8e41;
}

.login-field {
  margin-bottom: 20px;
}

.current-user {
  display: flex;
  font-size: 60px;
  color: #2196f3;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  font-size: 18px;
  margin-bottom: 5px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.field input[type='text'],
.field input[type='name'],
.field input[type='email'],
.field input[type='password'] {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}

.sign_out_button button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.main-menu-item {
  width: 300px;
  height: 200px;
  margin: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-menu-item h3 {
  font-size: 1.5em;
  margin-top: 10px;
}

.main-menu-item a {
  text-decoration: none;
  color: black;
}

.recipes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.recipes-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.recipes-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.recipes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipes-list-item {
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  width: 200%;
  border-radius: 10px;
  padding: 20px;
}

.page-btn {
  background-color: #ffc107;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
}

.page-btn a {
  color: #000;
  text-decoration: none;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

a:visited {
  color: black;
}

.recipes_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-items-details h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.recipe-items-details p {
  font-size: 16px;
  color: black;
}

.new-recipe-form textarea {
  resize: vertical;
}

.new-recipe-form div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.new-recipe-form input[type='checkbox'] {
  margin-right: 10px;
}

.new-recipe-form button[type='submit'] {
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.new-recipe-form button[type='submit']:hover {
  background-color: #c9302c;
}

.recipe-div {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.recipe-div h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.recipe-div h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.recipe-div p.recipe-detail {
  font-size: 16px;
  margin-top: 20px;
}

.recipe-div table.ingredients-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.recipe-div table.ingredients-table th,
.recipe-div table.ingredients-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.recipe-div table.ingredients-table th {
  background-color: #f2f2f2;
}

.recipe-div table.ingredients-table td:last-child {
  text-align: center;
}

.recipe-div .toggle {
  margin-top: 20px;
}

.recipe-div .toggle h4 {
  font-size: 16px;
}

.recipe-div .toggle label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.recipe-div .toggle label.switch input[type='checkbox'] {
  display: none;
}

.recipe-div .toggle label.switch span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.recipe-div .toggle label.switch span.slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.recipe-div .toggle label.switch input:checked + span.slider {
  background-color: #2196f3;
}

.recipe-div .toggle label.switch input:focus + span.slider {
  box-shadow: 0 0 1px #2196f3;
}

.recipe-div .toggle label.switch input:checked + span.slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.recipe-div .recipe-show-btn-group {
  margin-top: 20px;
}

.recipe-div .recipe-show-btn-group button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.recipe-div .recipe-show-btn-group button:hover {
  background-color: #0c7cd5;
}

.ing-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.ing-form-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.ing-form-container .ingredient_form {
  margin-bottom: 20px;
}

.ing-form-container .ingredient_form label {
  font-size: 18px;
  margin-bottom: 5px;
}

.ing-form-container .ingredient_form select,
.ing-form-container .ingredient_form input[type='number'] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.ing-form-container .ingredient_form input[type='submit'] {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.ing-form-container .ingredient_form input[type='submit']:hover {
  background-color: #0c7cd5;
}

.ing-form-container p {
  font-size: 16px;
  text-align: center;
}

.ing-form-container p a {
  color: #2196f3;
}

.ing-form-container p a:hover {
  color: #0c7cd5;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-heading {
  font-size: 36px;
}

.form-button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-button-secondary {
  background-color: #ccc;
}

.form-button:hover {
  background-color: #0c7cd5;
}

.mb-2 {
  margin-bottom: 20px;
}

.form-control {
  width: 96%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.form-button-primary {
  margin-top: 20px;
}

.main {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #0c7cd5;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.scope-col {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}
