body {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 5px 0 0 5px;
}

.btn {
  margin-right: 3%;
  color: white;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #fc9400;
  padding: 1%;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}

.recipe_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: 2px solid black;
  background-color: #89eefd;
  width: 70%;
}

.recipe_inform {
  padding: 2%;
  font-weight: bolder;
}

.recipes_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.recipe_inform {
  display: flex;
  column-gap: 5rem;
}
