.inventory-card {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.inventory-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inventory-card .description {
  margin-bottom: 16px;
  font-size: 14px;
  color: #333;
}

.inventory-card .button-container {
  display: flex;
  justify-content: space-between;
}

.inventory-card .delete-button button,
.inventory-card .view-details-button a {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inventory-card .delete-button button {
  background-color: #e74c3c;
  color: #fff;
}

.inventory-card .delete-button button:hover {
  background-color: #c0392b;
}

.inventory-card .view-details-button a {
  background-color: #3498db;
  color: #fff;
}

.inventory-card .view-details-button a:hover {
  background-color: #2980b9;
}
.food-heading {
  font-size: 28px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}


.add-food-btn {
  float: right;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.add-food-btn:hover {
  background-color: #45a049;
}


table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

.actions button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.actions button:hover {
  background-color: #45a049;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
